
<div class="bg-gray">
    <div class="mx-auto max-w-7xl px-6">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl py-10">Pricing</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600 pb-10">Unbeatable value for an unforgettable stay.
            Experience top-notch amenities at budget-friendly prices.</p>
      </div>
      <div class="h-screen ">
        <div class="max-w-screen-lg mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <div class="rounded-lg overflow-hidden shadow-md bg-white">
                <div class="px-6 py-8">
                    <h3 class="text-3xl font-bold mb-4 text-purple-600">Bronze</h3>
                    <p class="text-lg text-gray-600 mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h2 class="text-5xl font-bold mb-8 text-purple-600">10 % Discount</h2>
                    <a href="#"
                        class="bg-purple-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-purple-700 transition duration-300 ease-in-out">Buy
                        Now</a>
                </div>
            </div>
            <div class="rounded-lg overflow-hidden shadow-md bg-white">
                <div class="px-6 py-8">
                    <h3 class="text-3xl font-bold mb-4 text-green-600">Silver</h3>
                    <p class="text-lg text-gray-600 mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h2 class="text-5xl font-bold mb-8 text-green-600">25 % Discount</h2>
                    <a href="#"
                        class="bg-green-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-green-700 transition duration-300 ease-in-out">Buy
                        Now</a>
                </div>
            </div>
            <div class="rounded-lg overflow-hidden shadow-md bg-white">
                <div class="px-6 py-8">
                    <h3 class="text-3xl font-bold mb-4 text-yellow-600">Gold</h3>
                    <p class="text-lg text-gray-600 mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <h2 class="text-5xl font-bold mb-8 text-yellow-600">50 % Discount</h2>
                    <a href="#"
                        class="bg-yellow-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-yellow-700 transition duration-300 ease-in-out">Buy
                        Now</a>
                </div>
            </div>
        </div>
        
    </div>
    <app-list></app-list>   
    
    </div>
  </div>
  